.about {
    padding: 99px 0 99px 0;
    text-align: center;

    @media (max-width: 577px) {
        padding: 20px 0 20px 0;
    }

    &__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0;
        padding: 0 50px;

        @media (min-width: 500px) and (max-width: 750px) {
            justify-content: center;
        }
    }

    &__item {
        width: 25%;

        @media (min-width: 500px) and (max-width: 750px) {
            width: 50%;
            padding: 0 10px 10px 10px;
        }

        @media (max-width: 499px) {
            width: 100%;
            padding-top: 20px;
        }
    }

    &__header {
        margin: 0 0 12px 0;
        color: $dark;
    }

    &__description {
        margin-top: 0;
        font-size: 0.875rem;
    }
}