.directions {
    padding: 8vh 0 8vh;
    background-color: $contrast;

    &__list {
        counter-reset: count;
        max-width: 80%;
        margin: auto;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 0 0 40px 0;
        border-radius: 5px;
        box-shadow: -1px -1px 10px 1px rgba(214, 214, 214, 1);
        background-color: $light;

        &:nth-child(2n) {
            flex-direction: row-reverse;
            text-align: right;

            .directions__text {
                padding: 15px 4.5vw 0 15px;

                @media (max-width: 848px) {
                    padding-right: 15px;
                }
            }

            .directions__letter {
                
                left: -3.5vw;
            }

            .directions__title {
                text-align: right;
            }
        }
    }

    &__image {
        position:relative;
        max-width: 40%;
        min-width: 250px;

    }

    &__picture {
        display: block;
        width: 100%;
        @media (max-width: 848px) {
            margin-top: 10px;
            border: 3px solid $dark;
        }
    }

    &__text {
        width: 60%;
        flex-grow: 1;
        text-align: justify;
        font-size: 0.875rem;
        padding: 15px 15px 0 4.5vw;

        @media (max-width: 798px) {
            padding-left: 15px;
        }
    }

    &__letter {
        @include centerer-y();

        right: -3.5vw;
        width: 7vw;
        height: 7vw;
        letter-spacing: -2px;
        border-radius: 5px;
        text-align: center;
        line-height: 1.55;
        font-size: 5vw;
        font-family: $ff-logo;
        background-color: $dark;
        color: $light;
    }

    &__title {
        margin: 0 0 6px 0;
        display: block;
        text-align: left;
    }

    
}