.header {
    &__top {
        background-color: $contrast;
    }

    &__bottom {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
}

.contacts {
    text-align: right;
}

.contact {
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    transition: 0.3s;
    color: $dark;

    &:hover {
        color: darken($dark, 20%);
    }

    &__icon {
        height: 20px;
    }
}

.logo {
    display: flex;

    &__img {
        
    }
}