.hero {
    color: $dark;
    padding-left: 14%;
    background: url('../../images/heroimg.png') no-repeat;
    background-position-x: 18%;
    background-position-y: 50%;
    background-size: 40%;
    background-color: $contrast;
    font-family: $ff-hero;
    font-size: 2.8vw;
    line-height: 1.6;

    @media (max-width: 425px) {
        background-position-x: 1%;
        font-size: 5vw;
    }
    
      
    &__block {
        
        padding: 45px 15px 65px 40%;

        @media (max-width: 425px) {
            padding: 5px 15px 5px 33%;
        }
       

        &-cursive {
            font-family: $ff-heroautor;
            font-size: 2.3vw;
            font-weight: bold;

            @media (max-width: 425px) {
                font-size: 4vw;
            }
        }
        
    }
    
}