.nav {
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;

    &__link {
        display: inline-block;
        vertical-align: top;
        padding: 10px;
        text-decoration: none;
        transition: 0.3s;
        color: $darkest;

        &:hover,
        &--active {
            color: $dark;
        }
    }
}