.work {
    padding: 110px 0;

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    &__item {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        height: 252px;
        width: 512px;
        background-color: $medium;
        color: $light;

        &:nth-child(n+3) {
            display: flex;
            flex-direction: row-reverse;
        }
    }

    &__text {
        position: relative;
        text-align: center;
        margin: auto;

        &:before {
            content: '';
            bottom: 60px;

            @include sprite($workslogo);
            @include centerer-x();
        }
    }

    &__title {
        margin: 0;
    }

    &__description {
        margin: 0;
    }

    &__picture {
        max-width: 256px;
    }
}