// Fonts
$ff-main: 'Didact Gothic', sans-serif;
$ff-logo: 'Vollkorn', serif;
$ff-hero: 'Playfair Display SC', serif;
$ff-heroautor: 'Cormorant Garamond', serif;
$technical: 'Syncopate', sans-serif;

// Block-colors
$contrast: #f9f9f9;
$light: #fff;
$medium: #dbc195;
$dark: #b3964e;
$darkest: #000;

// Button color
$attention: #692525;