.contacts
                a.contact(href="tel: +79012345678")
                    i.fas.fa-mobile-alt(aria-hidden="true")
                    span.contact__text +79012345678
                
                a.contact(href="mailto:ta-info@yandex.ru")
                    i.fas.fa-envelope(aria-hidden="true")
                    span.contact__text ta-info@yandex.ru