.contacts
                a.contact(href="tel: +79012345678")
                    img.contact__icon(src="images/phone.png" alt="phone")
                    span.contact__text +79012345678
                
                a.contact(href="mailto:ta-info@yandex.ru")
                    img.contact__icon(src="images/email.png" alt="email")
                    span.contact__text ta-info@yandex.ru