section.directions
    .container
        +title('Направления работы', 'Мои направления в живописи')
        -
         var dirs=[['Геометрический абстракционизм', 'Вид абстрактного искусства, композиции которого построены из ограниченного набора правильных форм и основных цветов.', '../images/dir1.jpg', 'ГА'],
                   ['Неопластицизм', 'Одна из ранних разновидностей абстрактного искусства. Это строго уравновешенные комбинациии крупных прямоугольных фигур, четко разделенных перпендикулярными линиями черного цвета и окрашенных в локальные цвета основного спектра.', '../images/dir2.jpg', 'Н'],
                   ['Модернизм', 'Это сюжеты, наполненные характерными для символизма образами. Их сложный ритм сочетают в линейной композиции с оригинальными декоративными элементами.', '../images/dir3.jpg', 'М'],
                   ['Импрессионизм', 'Быстрые, спонтанные и свободные мазки, реалистичное изображение световоздушной среды, немедленное и оптически точное изображение быстротечного момента.', '../images/dir4.jpg', 'И']]
        +directions(dirs)

