footer.footer
    .footer__top
        .container
            .footer__links
                a(href="https://vk.com" target="_blank")
                    i.fab.fa-vk(aria-hidden="true")
            .footer__text Подпишитесь на мои новости
            form(action="#" method="post")
                .footer__field: input.input(type="email" placeholder="E-mail" required)
                button(type="submit").button Подписаться
    
    .footer_bottom
        .container
            .footer__copy Татьяна Ая © 2019