section.form-section
    .container
        .title
            h2.title.title__header Связаться со мной
            p.title__text Вы можете отправить свои вопросы и пожелания в форме ниже
        
        .form__btn-down: a.arrow-down: i.fas.fa-angle-down

        .form-container.is-hidden
            form(method="post" action="#").form
                button(type="button").button.form__close-button x
                .form__fields
                    input.input(type="text" placeholder="Ваше имя")
                    input.input(type="tel" placeholder="Номер телефона")
                    input.input(type="email" placeholder="Email" required)
                    textarea.input(placeholder="Напишите здесь сообщение")

                button(type="submit").button.button--upper Отправить сообщение