section.hero
    .container
        .hero__block
            q Живопись - это поэзия, которую видят, а поэзия - это живопись, которую слышат.
            br
            cite.hero__block-cursive Леонардо да Винчи