section.work
    .container
        +title('Мои работы', 'Копии картин и авторские произведения')
        -
         var worklist=[['Название работы', 'Холст на картоне, акрил', '../images/work1.jpg'],
                      ['Название работы', 'Холст на картоне, акрил', '../images/work2.jpg'],
                      ['Название работы', 'Холст на картоне, акрил', '../images/work3.jpg'],
                      ['Название работы', 'Холст на картоне, акрил', '../images/work4.jpg']]
        +works(worklist)
